[
{
  "category": "colloquial",
  "front": "cock up",
  "back": "'cock up' – a british slang term that is far from the lewdness its name suggests. a 'cock up' is a mistake, a failure of large or epic proportions.  for example, 'the papers sent out to the students were all in the wrong language – it's a real cock up.' also, 'i cocked up the orders for table number four.' "
}
]
